# Arquivos Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
env/

# Logs
*.log

# Arquivos de configuração
.env

# Arquivos temporários
*.tmp
*.temp

# Arquivos de cache
.cache/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de build
build/
dist/
*.egg-info/